.contacts__map{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
}

@media(max-width: 1220px){
    .contacts__map{
        width: 75%;
    }
}

@media(max-width: 1030px){
    .contacts__map{
        width: 90%;
    }
}
