.docs__name{
    margin:20px 0 15px;
    color: rgb(153, 153, 153);
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.2;
}