.docs{
    width: 50%;
    margin: 30px auto 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
    justify-items: center;
}

@media(max-width: 1700px){
    .docs{
        width: 55%;
    }
}

@media(max-width: 1550px){
    .docs{
        width: 60%;
    }
}

@media(max-width: 1550px){
    .docs{
        width: 65%;
    }
}

@media(max-width: 1300px){
    .docs{
        width: 70%;
    }
}

@media(max-width: 1220px){
    .docs{
        width: 75%;
    }
}

@media(max-width: 1030px){
    .docs{
        width: 90%;
    }
}

@media(max-width: 930px){
    .docs{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 570px){
    .docs{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media(max-width: 460px){
    .docs{
        width: 98%;
    }
}