.header__background_title{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    margin:0 auto 10px;
    font-size: 90px;
}

@media(max-width: 1200px){
    .header__background_title{
        font-size: 70px;
    }
}
  
@media(max-width: 800px){
    .header__background_title{
        font-size: 60px;
    }
}

@media(max-width: 670px){
    .header__background_title{
        font-size: 45px;
    }
}